{% url 'primary_home' as path_to_home %}
{% url 'login' as path_to_login %}
{% url 'logout' as path_to_logout %}
{% url 'Nodin:home' as path_to_home_nodin %}
{% url 'Nodin:create' as path_to_upload_nodin %}

{% url 'RNC:home' as path_to_RNC %}
{% url 'RNC:create' as path_to_upload_RNC %}

{% url 'Meas:home' as path_to_home_meas %}
{% url 'Meas:create' as path_to_upload_meas %}

{% url 'Site_Profile:home' as path_to_site_profile %}
{% url 'Site_Profile:create' as path_to_upload_site_profile %}

{% url 'Network_Overview_Current:home' as path_to_Network_Overview_Current %}
{% url 'Network_Overview_Current:create' as path_to_upload_Network_Overview_Current %}

{% url 'Nodin_to_Tpass:home' as path_to_home_Nodin_to_Tpass %}
{% url 'Nodin_to_Tpass:create' as path_to_upload_Nodin_to_Tpass %}

{% url 'Summary_All_Program:home' as path_to_home_sap %}
{% url 'Summary_All_Program:create' as path_to_upload_sap %}
{% url 'Summary_All_Program:homef' as path_to_homef_sap %}
{% url 'Summary_All_Program:createf' as path_to_uploadf_sap %}
{% url 'Summary_All_Program:SAPF_Processingf' as path_to_SAPF_Processingf %}

<div class="ui secondary pointing menu">
  <a href={{path_to_home}} class="{% if request.path == path_to_home%}active{% endif %} item">
    Home  |
  </a>
  {% if request.user.is_authenticated %}
  <div class="ui pointing dropdown link item">
    <span class="text">TPASS  |</span>
    <i class="dropdown icon"></i> 
    <div class="menu">
      <div class="item">
        <span class="text">File</span>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="header">Excel</div>
          <div class="item">
            <a href={{path_to_home_nodin}} class="{% if request.path == path_to_home_nodin%}active{% endif %} item">
              Nodin
            </a>
          </div>
          <div class="item">
            <a href={{path_to_RNC}} class="{% if request.path == path_to_RNC%}active{% endif %} item">
              RNC
            </a>
          </div>
          <div class="item">
            <a href={{path_to_home_Nodin_to_Tpass}} class="{% if request.path == path_to_home_Nodin_to_Tpass%}active{% endif %} item">
              TPASS
            </a>
          </div>
        </div>
      </div>

      <div class="item">
        <span class="text">Upload</span>
        <i class="dropdown icon"></i>
          <div class="menu">
            <div class="header">Input</div>
            <div class="item">
              <a href={{path_to_upload_nodin}} class="{% if request.path == path_to_upload_nodin%}active{% endif %} item">
                Nodin
              </a>
            </div>
            
            <div class="item">
              <a href={{path_to_upload_RNC}} class="{% if request.path == path_to_upload_RNC%}active{% endif %} item">
                RNC
              </a>
            </div>
        </div>
      </div>

      <div class="item">
        <span class="text">Tools</span>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="header">Processing</div>
          <div class="item">
            <a href={{path_to_upload_Nodin_to_Tpass}} class="{% if request.path == path_to_upload_Nodin_to_Tpass%}active{% endif %} item">
              TPASS
            </a>
          </div>
        </div>
      </div>

    </div>      
  </div>

  <div class="ui pointing dropdown link item">
    <span class="text">Network Overview</span>
    <i class="dropdown icon"></i> 
    <div class="menu">
      <div class="item">
        <span class="text">File</span>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="header">Excel</div>
          
          <div class="item">
            <a href={{path_to_home_meas}} class="{% if request.path == path_to_home_meas %}active{% endif %} item">
              Measurements
            </a>
          </div>
          
          <div class="item">
            <a href={{path_to_site_profile}} class="{% if request.path == path_to_site_profile %}active{% endif %} item">
              Site Id Profile
            </a>
          </div>
      
          <div class="item">
            <a href={{path_to_Network_Overview_Current}} class="{% if request.path == path_to_Network_Overview_Current %}active{% endif %} item">
              Network Overview Current
            </a>
          </div>

           <div class="item">
            <a href={{path_to_home_sap}} class="{% if request.path == path_to_home_sap %}active{% endif %} item">
              Summary All Program
            </a>
          </div>

          <div class="item">
            <a href={{path_to_homef_sap}} class="{% if request.path == path_to_homef_sap %}active{% endif %} item">
              Filter SAP
            </a>
          </div>

        </div>
      </div>

      <div class="item">
        <span class="text">Upload</span>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="header">
            Input
          </div>
          <div class="item">
            <a href={{path_to_upload_meas}} class="{% if request.path == path_to_upload_meas%}active{% endif %} item">
              Measurements
            </a>
          </div>
          
          <div class="item">
            <a href={{path_to_upload_site_profile}} class="{% if request.path == path_to_upload_site_profile%}active{% endif %} item">
              Site Profile
            </a>
          </div>

          <div class="item">
            <a href={{path_to_upload_sap}} class="{% if request.path == path_to_upload_sap%}active{% endif %} item">
              Summary All Program
            </a>
          </div>

          <div class="item">
            <a href={{path_to_uploadf_sap}} class="{% if request.path == path_to_uploadf_sap%}active{% endif %} item">
              Filter SAP
            </a>
          </div>

        </div>
      </div>

      <div class="item">
        <span class="text">Tools</span>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="header">Processing</div>
          <div class="item">
            <a href={{path_to_upload_Network_Overview_Current}} class="item {% if request.path == path_to_upload_Network_Overview_Current%}active{% endif %}">
              Network Overview Current 
            </a>
          </div>

          <div class="item">
            <a href={{path_to_SAPF_Processingf}} class="{% if request.path == path_to_SAPF_Processingf%}active{% endif %} item">
              Filter SAP
            </a>
          </div>

        </div>
      </div>
    </div>      
  </div>

  <div class="right menu">
     <a href={{path_to_logout}} class="ui item {% if request.path == path_to_logout%}active{% endif %}">
      Logout
    </a>
  </div>
  {% else %}
   <div class="right menu">
    <a href={{path_to_login}} class="ui item {% if request.path == path_to_login%}active{% endif %}">
      Login
    </a>
  </div>
</div>
  
  
  {% endif %}
</div>
